<odoo>
    <record model="ir.actions.act_window" id="gcond.action_window">
      <field name="name">Gestione condominiale</field>
      <field name="res_model">account.condominio</field>
      <field name="view_mode">tree,form</field>
    </record>

    <!-- Top menu item -->

    <menuitem name="GESTIONE CONDOMINIALE" id="gcond.menu_root"/>

    <!-- menu categories -->

    <menuitem name="Condominio" id="gcond.menu_1" parent="gcond.menu_root"/>
    <menuitem name="Condomino" id="gcond.menu_2" parent="gcond.menu_root"/>

    <!-- actions -->

    <menuitem name="Gestione" id="gcond.menu_1_list" parent="gcond.menu_1"
            action="gcond.action_window"/>

 
</odoo>

