<odoo>
    <record model="ir.actions.act_window" id="gcond.action_window">
      <field name="name">gcond window</field>
      <field name="res_model">account.condominio</field>
      <field name="view_mode">tree,form</field>
    </record>

    <!-- Top menu item -->

    <menuitem name="gcond_condominio" id="gcond.menu_root"/>

    <!-- menu categories -->

    <menuitem name="Menu 1" id="account_condominio.menu_1" parent="gcond.menu_root"/>
    <menuitem name="Menu 2" id="account_condominio.menu_2" parent="gcond.menu_root"/>

    <!-- actions -->

    <menuitem name="List" id="account_condominio.menu_1_list" parent="account_condominio.menu_1"
              action="gcond.action_window"/>

</odoo>

